<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="application.properties" />
	
	<settings>
		<!-- _로 되어있는 것을 CamelCase로 바꿔준다. m_t를 mT로 변경해준다. -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<package name="coffee_management.dto"/>
	</typeAliases>
	
	<typeHandlers>
		<!-- <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="Gender"/> -->
		<package name="coffee_management.typehandlers"/>
	</typeHandlers>
	
	<environments default="development2">
		<environment id="development1">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
		
		<environment id="development2">
			<transactionManager type="JDBC" />
			<dataSource type="coffee_management.jdbc.C3P0DataSourceFactory">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<package name="coffee_management.dao"/>
	</mappers>
</configuration>